<a href="http://localhost:4200/"><h1>Welcome to my Blog !!!</h1></a><br><br>
<p>“In a sense who you are has always been a story that you told to yourself. Now your self is a story that you tell to others.”
    <span><br><p>― Geoff Ryman, Paradise Tales: and Other Stories</p></span></p><br><br>

<!-- <h2>Author Details</h2><br><br>
<table border="1" bordercolor="red">
    <tr>
        <th>Authors</th>
        <th>Books</th>
    </tr>
    <tr *ngFor="let author of authors">
        <td>{{author.name}}</td>
        <td>{{author.book}}</td>
    </tr>
</table><br><br><br> -->
<button routerLink="/post" class="btn white center-block"> Create Post + </button><br><br><br><br>
<router-outlet></router-outlet>
<app-blogs></app-blogs>
